scala/scala/project/target/*
.idea
scala/scala/target/*
benchmark/benchmark/.ipynb_checkpoints
scala/scala/output/
scala/scala/project/project/
benchmark/benchmark/output
benchmark/benchmark/stats-queries/.ipynb_checkpoints
benchmark/benchmark/rewrite-assembly-0.1.0-SNAPSHOT.jar
